.greeting {
  position: relative;
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nav nav'
    'intro__left intro__right';

  overflow: hidden;
}

/* Left column of intro  */
.intro__left {
  grid-area: intro__left;
  padding: 50px 0;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid var(--borderColor);
  border-radius: 3px;
}

/* Right colum of intro */
.intro__right {
  grid-area: intro__right;
  display: grid;
  align-content: center;

  padding: 60px 0;
}

.preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  position: relative;
  z-index: 1;
}

.preview__shadow {
  width: 300px;
  height: 180px;
  background-color: var(--previewShadow);
  padding-left: 30px;
  padding-top: 30px;
}

.preview__corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

.corner--tl {
  top: -5px;
  left: -5px;
}
.corner--tr {
  top: -5px;
  right: -5px;
}
.corner--bl {
  bottom: -5px;
  left: -5px;
}
.corner--br {
  bottom: -5px;
  right: -5px;
}
