@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import './varDefault.css';
@import './section.css';
@import './intro.css';
@import './nav.css';
@import './theme.css';
@import './about.css';
@import './post.css';
@import './contact.css';
@import './toggle.css';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #17a2b8;
  font-family: 'Roboto Mono', monospace;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

/* Text Center */
.tc {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav'
      'intro__left'
      'intro__right';
  }

  .intro__right {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .preview__shadow {
    max-width: 280px;
    height: 180px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .preview {
    width: 280px;
  }
}

.ko {
  font-family: 'Noto Sans KR', sans-serif;
}

h1.ko {
  font-family: 'Jua', sans-serif;
  font-size: 52px;
}
